In [1]:
#HW1
#想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

In [2]:
import numpy as np
import pandas as pd
import random

In [3]:
population_list=np.random.randint(1000, 1000000, 4) #產生四個整數隨機變數，並傳給population_list

In [4]:
data = {'country': ['America', 'Japan', 'Taiwan', 'China'],
        'population':population_list}

In [19]:
population_of_country=pd.DataFrame(data)
population_of_country

   country  population
0  America      695065
1    Japan      733410
2   Taiwan      793111
3    China      514134

In [34]:
s = population_of_country['population'].idxmax()
s

2

In [35]:
print("人口數最少的國家 %s" %population_of_country['country'][s] , "，人口數 %s" %population_of_country['population'][s])

人口數最少的國家 Taiwan ，人口數 793111